obsw_user_code.py

_build/*
_dependencies/*
_bin/*

_bin
_obj
_dependencies

.settings/*
.settings
__pycache__

.project
.cproject 

*.lnk
*.tmp
*.open
*.ini

generators/*.csv

*tmtc*.txt
log

# https://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder
# you can skip this first one if it is not already excluded by prior patterns
.idea/*
!.idea/runConfigurations/

