# CMake
/Debug
/Debug*
/Release
/Release*
/MinSizeRel
/MinSizeRel*
/RelWithDeb
/RelWithDeb*
/Mission
/Mission*

# Make
_build/*
_dependencies/*
_bin/*
_dep
_bin
_obj
_dependencies

# Eclipse
.settings/*
.settings
.metadata
.project
.cproject 
*.launch
!**/eclipse/**/.project
!**/eclipse/**/.cproject
!**/eclipse/**/.launch
.pydevproject

# Python
__pycache__
.idea/
!.idea/runConfigurations/

# Misc
*.lnk
*.tmp
*.open
*.ini
.swp 

generators/*.csv
/AT91/
.eclipsesettings/

generators/.idea/*
!generators/.idea/runConfigurations/

*.db
*.map
refman.pdf
