# CMake
/build*

# Make
_build/*
_dep
_bin
_obj

# Eclipse
.settings
.metadata
.project
.cproject 
*.launch
!**/eclipse/**/.project
!**/eclipse/**/.cproject
!**/eclipse/**.launch
.pydevproject

# Python
__pycache__
.idea/
!.idea/runConfigurations/

# Misc
*.lnk
*.tmp
*.open
*.ini
.swp 

generators/*.csv
.eclipsesettings/

generators/.idea/*
!generators/.idea/runConfigurations/

*.db
*.map
refman.pdf
